<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar ng-show="$root.headerExists" id="navbar-right-top" class="page-title bar-dark">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="fabButtonUp"></ion-nav-view>
		<ion-nav-view animation="none" name="wipr_wp-side_menus"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="bar-dark  ">
			<h1 class="title"><span ng-bind-html="appName | strHTML"></span></h1>
		</ion-header-bar>
		<ion-content class="light-bg positive-900">
			<ion-list class="list" >
				<ion-item ng-hide="hide_menu_dashboard"  class="menu-dashboard item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wipr_wp.dashboard">
					<i class="icon ion-ios-home"></i> {{ "Inicio" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_television"  class="menu-television item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wipr_wp.television">
					<i class="icon ion-ios-monitor"></i> {{ "Televisión" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_envivo"  class="menu-envivo item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wipr_wp.envivo">
					<i class="icon ion-social-youtube"></i> {{ "EnVivo" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_youtube"  class="menu-youtube item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wipr_wp.youtube">
					<i class="icon ion-social-youtube"></i> {{ "Youtube" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_categories"  class="menu-categories item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wipr_wp.categories">
					<i class="icon ion-android-apps"></i> {{ "Categorías" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_radioam"  class="menu-radioam item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wipr_wp.radioam">
					<i class="icon ion-radio-waves"></i> {{ "AM" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_radiofm"  class="menu-radiofm item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wipr_wp.radiofm">
					<i class="icon ion-radio-waves"></i> {{ "FM" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_about_us"  class="menu-about_us item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wipr_wp.about_us">
					<i class="icon ion-ios-people"></i> {{ "Corporación" | translate }}
				</ion-item>
				<ion-item ng-hide="hide_menu_post_bookmark"  class="menu-post_bookmark item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wipr_wp.post_bookmark">
					<i class="icon ion-android-bookmark"></i> {{ "Bookmarks" | translate }}
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
