	<ion-view view-title=" {{ 'Categor&iacute;as' | translate }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-categories" class=" page-categories">
					<!-- code refresh -->
			<ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}"  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="list squares" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_categories" placeholder="{{ 'Filter' | translate }}" aria-label="filter categories" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list animate-none">
				<a class="item colorful" ng-repeat="item in categories | filter:filter_categories as results" ng-init="$last ? fireEvent() : null" ng-href="#/wipr_wp/posts/{{item.id}}" >
					<h1 ng-bind-html="item.name | to_trusted"></h1>
						{{item.count}} pages
				</a>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>{{ 'No results found...!' | translate }}</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
